<!-- <h1>Color#index</h1>
<p>Find me in app/views/color/index.html.erb</p> -->

<!-- <iframe width="180" height="160" src="https://www.youtube.com/embed/Lao3GaYXLjs" frameborder="0" allowfullscreen></iframe> -->
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/AU-A_4UKfQ0" frameborder="0" allowfullscreen></iframe> -->

<!-- Color index page -->


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- end -->

<!-- top header - -->
  <body class="body body-body body-color ">
    <header>
      <a href="/">
      <img src="assets/cmsSimple.png" width="20%" height="15%" alt="Color Me Straight inc. logo" class="logo">
      </a>
      <nav>
        <ul>
          <li><a href="/">Home</a</li>
          <li><a href="/color">Color</a></li>
          <li><a href="/chemicals">Thermal Reconditioning</a></li>
        </ul>
      </nav>
    </header>

    <section class="color-hero">
      <div class="container">
        <h1 class="title title-color"> all about color!
          <span></span>
        </h1>
          <a href="/rooms" class="button button-accent">Chat with us live</a>
      </div>
    </section>

    <!-- top header  end-->

    <!-- #1 video of the pink  -->

    <div class="container">
      <section class="color-about">
        <div class="color-about-textbox">
          <h1>Color History</h1>

          Portrait of Lafayette in 1830, aged 73, with pitch-black hair.
          The dyeing of hair is an ancient art that involves treatment of the hair with various chemical compounds. In ancient times, the dyes were obtained from plants. <br> Some of the most well known are henna (Lawsonia inermis), indigo, Cassia obovata, senna, turmeric and amla. Others include katam, black walnut hulls, red ochre and leeks.<br> In the 1661 book Eighteen Books of the Secrets of Art & Nature, various methods of coloring hair black, gold, green, red, yellow, and white are explained. The development of synthetic dyes for hair is traced to the 1860s discovery of the reactivity of para- phenylenediamine (PPD) with air.<br> Eugène Schueller, the founder of L'Oréal, is recognized for creating the first synthetic hair dye in 1907.<br> In 1947 the German cosmetics firm Schwarzkopf launched the first home color product, "Poly Color".<br>[non-primary source needed] Hair dyeing is now a multibillion-dollar industry that involves the use of both plant-derived and synthetic dyes. <br><br>
          Hair coloring, or hair dyeing, is the practice of changing the hair color. The main reasons for this are cosmetic: to cover gray or white hair, to change to a color regarded as more fashionable or desirable, to restore the original hair color after it has been discolored by hairdressing processes or sun bleaching.<br><br>

          Hair coloring can be done professionally by a hairdresser or independently at home. Today, hair coloring is very popular, with over 75% of American women dyeing their hair.[1] At home coloring in the United States reached $1.9 billion in 2011 and is expected to raise to $2.2 billion by 2016.


           <!-- <p><iframe width="560" height="315" src="https://www.youtube.com/embed/16MihtoqaCk" frameborder="0" allowfullscreen></iframe>
        </p> -->
        </div>
      </section>
    </div>

    <div class="law-color">
      <h2><strong>The Law of Color</strong>

        <p><strong></strong>
          is a system for understanding color relationships. When combining colors, you will always get the same result from the same combination. Example: Equal parts of red and blue mixed together always make violet. Equal parts of blue and yellow always make green. Equal parts of red and yellow always make orange. This system is called the law of color because these relationships have been tested over and over and have proven to be true. <br> The color wheel that appears on this page will guide you to understand these color relationships.
          <div class="color-wheel">
              <%= image_tag ("colorwheel4.jpg"), class: "img" %>
          </div>
        </p>
        <p></p>
        <p></p>

    </h2>

    <div class="history">
      <h2><strong></strong>

        <p><strong>Semi-permanent color: </strong>contains no ammonia and deposits only. It does not require mixing with a developer and lasts anywhere from 4 – 12 shampoos. This type of color is used to blend gray, enhance color or natural color.</p>
        <p><strong>Demi-permanent color: </strong>contains no ammonia and deposits only. It is mixed with a low-volume developer to help open the cuticle and lasts up to 24 shampoos. This type of color is great for blending gray, enhancing natural color, refreshing color, toning highlights, or for corrective work.</p>
        <p><strong>Temporary color</strong> is available in various forms including rinses, shampoos, gels, sprays, and foams. Temporary hair color is typically brighter and more vibrant than semi-permanent and permanent hair color.
        The pigments in temporary hair color are high molecular weight and cannot penetrate the cuticle layer. The color particles remain adsorbed (closely adherent) to the surface of the hair shaft and are easily removed with a single shampooing. Temporary hair color can persist on hair that is excessively dry or damaged in a way that allows for migration of the pigment to the interior of the hair shaft.</p>

        <p><strong>Permanent hair color</strong> generally contains ammonia and must be mixed with a developer or oxidizing agent in order to permanently change hair color. Ammonia, in permanent hair color, is used to open the cuticle layer so that the developer and colorants together penetrate into the cortex.<br>The developer or oxidizing agent, comes in various volumes. The higher the developer volume, the higher the lift will be of a person's natural hair pigment. Someone with dark hair wishing to achieve two or three shades lighter may need a higher developer, whereas someone with lighter hair wishing to achieve darker hair will not need a high developer. Timing may vary with permanent hair coloring but is typically 30 minutes or 45 minutes for those wishing to achieve maximum gray coverage.</p>
        <p><strong>IMPORTANT</strong>
          ALL THESE REQUIRE A PATCH TEST 
        </p>
      </h2>
    </div>


    <!-- Videos Grid -->
    <div class="w3-row w3-container">
      <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16"> Top 4 tutorial's of the week </span>
      </div>

      <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
        <iframe width="300" height="280" src="https://www.youtube.com/embed/KR4E0Qpbiso" frameborder="0" allowfullscreen></iframe>
      </div>


      <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
        <iframe width="300" height="280" src="https://www.youtube.com/embed/AU-A_4UKfQ0" frameborder="2" allowfullscreen></iframe>
      </div>

      <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
        <iframe width="300" height="280" src="https://www.youtube.com/embed/elyp89nZid4" frameborder="2" allowfullscreen></iframe>
      </div>

      <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
        <iframe width="300" height="280" src="https://www.youtube.com/embed/SrKLoM36Zdk" frameborder="2" allowfullscreen></iframe>
      </div>
    </div>


   <!-- end -->


        <!-- Grid -->
        <div class="w3-row-padding" id="plans">
          <div class="w3-center w3-padding-30">
            <br><br><br>
            <h3>Choosing the right hair color for your skin tone</h3><br><br>
            <p>Before you test your skin's undertones, make sure you're using natural light.
            <br> As artificial light can change how your skin looks depending on the slight color shift caused by different types of light bulbs.<br>
            <br>This guide gives several great options to determine your skin's true undertone.
            <br>For a quick check, we recommend flipping your palm face up and taking a look at the veins in your hand and wrist.
            <br>If your veins have a blue or purple hue, then you have cool undertones. If the veins have a greenish cast, you have warm undertones.
            <br>If you can't really say that they favor one shade over the other, then you likely have neutral undertones.
            <br>If you've got neutral undertones, congratulations — any of the colors we describe below should look great on you.
            <br> If you're cool or warm, keep reading to find out which shades work best for you, and why.</p>
            <br><br><br>
            <!-- by:The list-->
          </div>

          <div class="w3-third w3-margin-bottom">
            <ul class="w3-ul w3-border w3-center w3-hover-shadow">
              <%= image_tag ("ashblonde1.jpg"), class: "img" %>
              <!-- <img src="/assets/ashblonde1.jpg" alt="John" style="width:100%"> -->
              <li class="w3-dark-grey w3-large w3-padding-32">Blondes</li>

              <li class="w3-padding-16"><b>Ash blonde</b>
                Ash blonde, including shades like platinum, ice, silver, and champagne, look great on those who have cool skin with reddish undertones. The slightly blue cast in these blonde shades will counteract ruddiness in the skin. Celebrities who have rocked ash blonde correctly with their skin tone include Gwen Stefani and Taylor Swift. If you decide to go with one of these shades, make sure you use a purple shampoo and conditioner to keep the color from yellowing.</li><br>

              <li class="w3-padding-16"><b>Warm blonde</b>
                If you have fair, cool skin with blue undertones, go slightly warmer with your blonde by choosing gold, caramel, amber, honey, or butterscotch for your shade. A honey or caramel blonde is also a good choice for those with olive skin and neutral undertones or deep skin, as going too light or ashy with your blonde can wash out your face. If you have very warm undertones, you want to avoid warm blonde, as too much yellow can make you look sallow. Use toner frequently to avoid your color going brassy.</li>

            </ul>
          </div>

          <div class="w3-third w3-margin-bottom">
            <ul class="w3-ul w3-border w3-center w3-hover-shadow">
              <%= image_tag ("warmbrown3.jpg"), class: "img" %>
                <!-- <img src="/assets/warmbrown3.jpg" alt="John" style="width:100%"> -->
              <li class="w3-dark-grey w3-large w3-padding-32">Browns</li>

              <li class="w3-padding-16"><b>Cool brown</b>
                Cool brown shades like chestnut, mocha, dark chocolate, and dark auburn go great with those who have skin with warm undertones. From fair to deep skin, if you've got yellow undertones, consider using a cool brown hair color to brighten up your complexion.</li>

              <li class="w3-padding-16"><b>Warm brown</b>
                Pick a warm brown shade like golden brown, honey, amber, mahogany, or cinnamon if you have medium skin with warm undertones. When Emilia Clarke isn't wearing her platinum wig as the Mother of Dragons on Game of Thrones, her favorite hair color is warm brown.</li><br>

              <li class="w3-padding-16"><b>Cool black</b>
                Cool black hair colors like espresso, licorice, blue-black or true black will look great on those with warm undertones. If you're fair or olive skinned, the contrast will take your yellowish undertones and give you an almost porcelain-doll look to your skin. If you have deep skin, you can wear cool black shades regardless of your undertone.</li>

            </ul>
          </div>

          <div class="w3-third w3-margin-bottom">
              <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                  <%= image_tag ("coolred4.jpg"), class: "img" %>
                    <!-- <img src="/assets/coolred4.jpg" alt="John" style="width:100%"> -->

                  <li class="w3-dark-grey w3-large w3-padding-32">Reds</li>
                  <li class="w3-padding-16"><b>Cool red</b>
                    Cool reds including auburn, burgundy, and true red will look great on those with fair cool skin with reddish undertones. The bluish red cast of your hair will make your skin pop instead of looking flushed or ruddy. If you have deep skin, opt for a cool auburn over warm red, because warmer red tones will make your skin look greenish or sickly.</li>

                  <li class="w3-padding-16"><b>Warm red</b>
                    If you have neutral skin undertones or bluish undertones in fair skin, then warm red is for you. Pick your favorite from strawberry blonde, amber, copper, or rust shades. Make sure to get shampoo for color-treated hair and avoid washing frequently to keep your color strong as long as possible between touch-ups.</li>

                  <li class="w3-padding-16"><b>Warm black</b>
                    If you crave warm black shades like dark mocha, cocoa, or brown-black, then make sure you have cool undertones to your fair or medium skin. If you have deep skin, then you can also use a mocha or cocoa shade to warm things up, no matter what undertone you have.</li>

              </ul>
          </div>
        </div>


        <!-- Understand what skin tone Grid -->
        <div class="undertones undertones-section">
          <div class="w3-row-padding" id="about">
            <div class="w3-center w3-padding-40">
              <br><br><br>
              <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-100">Determining Your Undertones</span>
              <br><br><br>
            </div>

            <div class="w3-third w3-margin-bottom">
              <div class="w3-card-4">
                <%= image_tag ("SkinTone1.png"), class: "img" %>
                <!-- <img src="/assets/SkinTone1.png" alt="John" style="width:100%"> -->
                <div class="">
                  <h3>Understand what skin tone means</h3>
                  <p class="w3-opacity">1</p><br>
                  <p>
                  Understand what skin tone means. Your skin tone, or undertone, does not refer to the shade of your skin (light, medium, dark)--that is your complexion, or the surface color of your skin. Your skin tone is determined by the amount of melanin, or pigment, in your skin and does not change from sun exposure or skin conditions like rosacea or acne.
                  <br><br>
                  [1] So while a person's skin may become pale in the winter and a rich brown in the summer, their skin tone will remain the same.
                  Your skin tone will be one of the following: cool, warm, or neutral.
                  <br><br>
                  [2]
                  Keep in mind your skin tone does not necessarily match what you see on the surface. So you may have pink or ruddy skin, but your skin tone may actually be yellow.
                  <br><br>
                  [3]
                  Before attempting any of the following steps, make sure your skin is clean and free of any makeup, lotion, or toner. If you just washed your face, wait about 15 minutes before proceeding, as your skin may appear pink from scrubbing and make it difficult to see your true undertone.
                  Always use natural lighting when examining your skin. Different lightbulbs can affect your skin differently--they may give it a yellow or green cast, and interfere with the appearance of your skin tone.</p>

                  <p>This is a quick way to determine your undertones.
                    <br><br>
                    [4] Make sure you are examining your wrists in natural light, either standing near a window or outdoors, and that your wrist is clean and free of product.
                    If your veins appear blue or purple, you have a cool skin tone.
                    <br>br
                    [5]
                    If your veins appear green, you have a warm skin tone.
                    <br><br>
                </p><br><br>
                  <!-- <p><button class="w3-button w3-light-grey w3-block"></button></p> -->
                </div>
              </div>
            </div>

            <div class="w3-third w3-margin-bottom">
              <div class="w3-card-4">
                <%= image_tag ("SkinTone2.png"), class: "img" %>
                <!-- <img src="/assets/SkinTone2.png" alt="Mike" style="width:100%"> -->
                <div class="">
                  <h3>Look at the color of the veins on the inside of your wrist</h3>
                  <p class="w3-opacity">2</p><br>
                  [6]
                  If you can't tell if your veins are green or blue, you may have a neutral skin tone. If you have an olive complexion, you likely fall into this category.
                 <br><br>

                  <h3>Consider how your skin normally reacts to the sun</h3>
                  <p class="w3-opacity">3</p>
                  <br>
                  <p>Do you tan easily? Do you burn or get freckles? The amount of melanin in your skin determines how it reacts to sun exposure and can help you determine your skin tone.
                    <br><br>
                  [7]
                  If you tan easily and rarely burn, you have more melanin and you likely have a warm or neutral skin tone.
                  <br><br>
                  [8]
                  If your skin burns and doesn't tan, you have less melanin and therefore a cooler skin tone.
                  <br><br>
                  [9]
                  Some women with very dark, ebony skin may not burn easily but still have a cool skin tone. Try a few more tests to figure out your undertone.</p><br><br>

                  <h3>Hold a white piece of paper up to your face</h3>
                  <p class="w3-opacity">4</p>
                  <p>Looking in a mirror, try to see how your skin looks in contrast to the white paper.</p>
                    It may appear to have a yellow cast, a blue-red or rosy cast, or it may not appear to be either, but a gray color instead.<br><br><br>


                  <!-- <p><button class="w3-button w3-light-grey w3-block"></button></p> -->
                </div>
              </div>
            </div>

            <div class="w3-third w3-margin-bottom">
              <div class="w3-card-4">
                <%= image_tag ("SkinTone4.png"), class: "img" %>
                <!-- <img src="/assets/SkinTone4.png" alt="Jane" style="width:100%"> -->
                <div class="">

                  <h3>Use gold and silver foil or jewelry to find your skin tone</h3>
                  <p class="w3-opacity">5</p><br>


                  <p>If your skin appears yellowish or sallow beside the white paper, you have a warm skin tone.</p>

                  If your skin appears pink, rosy, or blueish-red, then you have a cool skin tone.<br>

                  If your skin appears gray, your skin probably has an olive complexion with a neutral undertone.<br>
                  The green from your complexion and the yellowish undertone combines to create this effect.
                  <br><br>
                  [10] You can experiment with neutral and warm tones, since you fall somewhere in between.
                  <br><br>
                  [11]
                  If you can't determine any cast of yellow, olive, or pink, you have a neutral skin tone. Neutral tones can look good in foundations and colors on both ends of the cool/warm spectrum.
                  <br><br>
                  [12]
                </p>

                  <p>Hold a sheet of gold foil in front of your face so that it reflects light back on your skin. Note whether it makes your face look grayish or washed out, or if it enhances your skin. Then try with a sheet of silver foil.
                  If the gold foil looks best, you have a warm skin tone.<br>
                  If the reflection from the silver foil makes your skin glow, you have a cool skin tone.<br><br>
                  If you don't notice a difference (both silver and gold are flattering), then you likely have a neutral skin tone.
                  <br><br>
                  [13]
                  If you don't have gold or silver foil, try laying gold and silver jewelry on your wrist, and notice which one is more flattering.</p><br><br>
                  <!-- <p><button class="w3-button w3-light-grey w3-block"></button></p> -->
                </div>
              </div>
            </div>
          </div>

        </div>


        <!-- Contact -->
        <div class="w3-center w3-padding-64" id="contact">
          <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16"><a href="/chemicals">Thermal Reconditioning</a></span><br><br>
          <a href="/rooms">Chat Live</a>
        </div>



      </div>

      <!-- Footer -->

      <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
        <h3>Color Me Straight</h3>
        <h4>An online Education Center</h4>
        <h5> Built on integrity, innovation, and love—for you and for your hair.</h5><br>
        <h5>We believe in a better way and we believe in beautiful naturally healthy-looking chemically treated hair.</h5>
        <br><br>
        <a href="#" class="w3-button w3-dark-grey w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <!-- <div class="w3-xlarge w3-section">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div> -->

      </footer>

  </body>
