<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css"/>


<body>

  <!-- Top Nav Bar -->
    <header>
      <a href="/">
      <img src="assets/cmsSimple.png" width="20%" height="15%" alt="Color Me Straight inc. logo" class="logo">
      </a>
      <nav>
        <ul>
          <li><a href="/">Home</a</li>
          <li><a href="/color">Color</a></li>
          <li><a href="/chemicals">Thermal Reconditioning</a></li>
        </ul>
      </nav>
    </header>

    <section class="home-hero">
      <div class="container">
        <h1 class="title">an online Education Center
          <span></span>
        </h1>
          <a href="/rooms" class="button button-accent">Chat with us live</a>
      </div>
    </section>

    <div class="container">
      <section class="home-about">
        <div class="home-about-textbox">
          <h1>Who we are</h1>
           <p id="p44">A safe haven giving facts. We focus on educating and believe in teaching you the right things. There are so many videos and tutorials that are incorrect. We will search out the most accurate videos and post them so when you come to our site you are getting the correct information. I have been in the industry for over 25 years specializing in chemicals.<strong></strong> </p>

           <p id="p77">We want to make sure you have the right tools to be prepared at home or when going in for your salon service.</p>
           <p>We are built on integrity, innovation, and love—for you and for your hair.
             We believe in a better way and we believe in beautiful naturally
             healthy-looking chemically treated hair.</p>
        </div>
      </section>
    </div>
      <!--color information - img w/caption/live together -->

    <section class="portfolio">
      <h1>Click on links for more info</h1>
      <!--porfolio item 1 -->
      <figure class="port-item">
      <%= image_tag ("strawberryBlonde.jpg"), class:  "img img-tag "  %>
        <figcaption class="port-desc">
          <p>Smooth Control</p>
          <a href="/chemicals" class="button button-accent button-small">Smooth Control /Thermal Reconditioning</a>
          </figcaption>
      </figure>

      <!--porfolio item 2 -->
      <figure class="port-item">
        <%= image_tag ("vogue1.jpg"), class: "img img-tag style:" %>
        <!-- <img src="assets/vogue1.jpg" width="100%" height="70%" alt=""> -->
        <figcaption class="port-desc">
          <p>Color</p>
          <a href="/color" class="button button-accent button-small">Color</a>
          </figcaption>
      </figure>

      <!--porfolio item 3 -->
      <figure class="port-item">
        <%= image_tag ("hazepic.jpg"), class: "img img-tag" %>
        <!-- <img src="assets/hazepic.jpg" width="100%" height="70%" alt=""> -->
        <figcaption class="port-desc">
          <p>Color</p>
          <a href="/color" class="button button-accent button-small">Color</a>
          </figcaption>
      </figure>

      <!--porfolio item 4 -->
      <figure class="port-item">
        <%= image_tag ("bkPurpleHair.jpg"), class: "img img-tag" %>
        <!-- <img src="assets/bkPurpleHair.jpg" width="100%" height="70%" alt=""> -->
        <figcaption class="port-desc">
          <p>Semi Permanent Color</p>
          <a href="/color" class="button button-accent button-small">Color</a>
          </figcaption>
      </figure>

      <!--porfolio item 5 -->
      <figure class="port-item">
        <%= image_tag ("relaxer2.jpg"), class: "img img-tag" %>
        <!-- <img src="assets/relaxer2.jpg" width="100%" height="70%" alt=""> -->
        <figcaption class="port-desc">
          <p>Thermal Reconditioning</p>
          <a href="/chemicals" class="button button-accent button-small">Relaxer / Sodium hydroxide</a>
          </figcaption>
      </figure>

      <!--porfolio item 6 -->
      <figure class="port-item">
        <%= image_tag ("multi2.jpg"), class: "img img-tag" %>
        <!-- <img src="assets/multi2.jpg" width="100%" height="70%" alt=""> -->
        <figcaption class="port-desc">
          <p>F/X Special Effects</p>
          <a href="/color" class="button button-accent button-small">Color</a>
          </figcaption>
      </figure>
    </section>


    <!--call to action  -->

    <section class="cta">
      <div class="container">
        <h1 class="title title-cta">If you're not sure about a video / tutorial
          <span>go ahead and drop-in the link and we will go over it and let you know if it's the most up-to-date information.</span>
        </h1>
          <a href="/rooms" class="button button-dark">Chat live</a>
      </div>
    </section>


    <div class="container container-footer">

      <footer>
        <div class="col-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="col-1">
          <ul class="unstyled-list">
            <li><strong>List 1</strong></li>
            <li>List 2-Lorem ipsum dolor </li>
            <li>List 3-Lorem ipsum dolor </li>
            <li>List 4-Lorem ipsum dolor </li>
          </ul>
        </div>

        <div class="col-1">
          <ul class="unstyled-list">
            <li><strong>List 2</strong></li>
            <li>List 2-Lorem ipsum dolor </li>
            <li>List 3-Lorem ipsum dolor </li>
            <li>List 4-Lorem ipsum dolor </li>
          </ul>
        </div>

        <div class="col-1">
          <ul class="unstyled-list">
            <li><strong>List 3</strong></li>
            <li>List 2-Lorem ipsum dolor </li>
            <li>List 3-Lorem ipsum dolor </li>
            <li>List 4-Lorem ipsum dolor </li>
          </ul>
        </div>
      </footer>
    </div>
    <a href="#" class="w3-button w3-dark-grey w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <!-- <i class="fa fa-snapchat w3-hover-opacity"></i> -->
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <!-- <i class="fa fa-twitter w3-hover-opacity"></i> -->
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>

</body>
