<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->

  <meta charset= "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <%= image_tag('antique.jpg', id: "wrapper") %>
  <%= image_tag('colorimg.jpg', id: "f1") %> -->




<body>
  <!-- <header> -->
    <!-- <div id="main1">
      <nav class="nav1">
        <h1>Color Me Straight</h1>
        <h4>an online Education Center</h4> -->

        <!-- <%= image_tag ("pinklogo.png") %> -->
        <!-- <a href="" id="slide-toggle">
          <i class="ion-navicon-round"></i>
        </a> -->
        <!-- <ul>
          <ol><a href="/">Home</a></ol>
          <ol><a href="/color">Color</a></ol>
          <ol><a href="/chemicals">Thermal Reconditioning</a></ol>
          <ol><a href="/rooms">Chat In</a></ol>
        </ul> -->
      <!-- </nav>
    </div>

    <h3 class="moto"></h3>
     <div class="main-img">
     </div>
     <h4 class="goal">
       <p id="p33"> Built on integrity, innovation,
                     and love—for you and for your hair.</p><br><br>
                     We believe in a better way and we believe in beautiful naturally
                     healthy-looking chemically treated hair.<br><br>

       <p id="p44"> Our desire is to educate and help you</p>
       <p id="p55"> Choose the right color or straightener to suit your needs.</p>
       <p id="p66">We will show you step-by-step instructions on how to apply color or FX techniques.</p><br>
       <p id="p77">We want to make sure you have the right tools to be prepared at home or when going in for your salon service.</p><br>
     </h4>

     <a href="/rooms" id="app-header">Live Chat</a>

  </header>

  <div class="card-holder">
    <h1 id='card-holder-title'> these guides give several great options</h1>

    <div class="home-card left" id="color">
      <div id="color-content">
        <a href="/color">COLOR</a>
        <p id="color-border"></p>
        <h5>Choosing the right hair color for your skin tone</h5>
      </div>
    </div>

    <div class="home-card right" id="chemical">

    </div>

    <div class="home-card left" id="color-tutorial">

    </div>

    <div class="home-card right" id="determine-undertone">

    </div>

    <div class="home-card left" id="thermal-recondi">

    </div>

    <div class="home-card right" id="sodium-hydroxide">

    </div>

    <div class="home-card left" id="kertatin">

    </div>

    <div class="home-card right" id="caring-tr">

    </div>



  </div> -->
  <!-- Top Nav Bar -->
    <header>
      <img src="assets/cmsSimple.png" width="20%" height="15%" alt="Color Me Straight inc. logo" class="logo">
      <nav>
        <ul>
          <li><a href="/">Home</a</li>
          <li><a href="/color">Color</a></li>
          <li><a href="/chemicals">Thermal Reconditioning</a></li>
        </ul>
      </nav>
    </header>

    <section class="home-hero">
      <div class="container">
        <h1 class="title">Color Me Straight
          <span>an online Education Center</span>
        </h1>
          <a href="/rooms" class="button button-accent">Chat with us live</a>
      </div>
    </section>

    <div class="container">
      <section class="home-about">
        <div class="home-about-textbox">
          <h1>Who we are</h1>
           <p id="p44"><strong>Our desire is to educate and help you</strong> </p>
           <p id="p55"> Choose the right color or straightener to suit your needs.</p>
           <p id="p66">We will show you step-by-step instructions on how to apply color or FX techniques.</p>
           <p id="p77">We want to make sure you have the right tools to be prepared at home or when going in for your salon service.</p>
           <p>We are built on integrity, innovation, and love—for you and for your hair.
             We believe in a better way and we believe in beautiful naturally
             healthy-looking chemically treated hair.</p>
        </div>
      </section>
    </div>
      <!--color information - img w/caption/live together -->

    <section class="portfolio">
      <h1>Color</h1>
      <!--porfolio item 1 -->
      <figure class="port-item">
        <%= image_tag ("strawberryBlonde.jpg") class: img %>
        <img src="assets/strawberryBlonde.jpg" width="100%" height="70%" alt="">
        <figcaption class="port-desc">
          <p>Smooth Control</p>
          <a href="/chemicals" class="button button-accent button-small">Smooth Control / Thermal Reconditioning</a>
          </figcaption>
      </figure>

      <!--porfolio item 2 -->
      <figure class="port-item">
        <%= image_tag ("vogue1.jpg") %>
        <img src="assets/vogue1.jpg" width="100%" height="70%" alt="">
        <figcaption class="port-desc">
          <p>Color</p>
          <a href="/color" class="button button-accent button-small">Color</a>
          </figcaption>
      </figure>

      <!--porfolio item 3 -->
      <figure class="port-item">
        <%= image_tag ("hazepic.jpg") %>
        <img src="assets/hazepic.jpg" width="100%" height="70%" alt="">
        <figcaption class="port-desc">
          <p>Color</p>
          <a href="/color" class="button button-accent button-small">Color</a>
          </figcaption>
      </figure>

      <!--porfolio item 4 -->
      <figure class="port-item">
        <%= image_tag ("bkPurpleHair.jpg") %>
        <img src="assets/bkPurpleHair.jpg" width="100%" height="70%" alt="">
        <figcaption class="port-desc">
          <p>Semi Permanent Color</p>
          <a href="/chemicals" class="button button-accent button-small">Color</a>
          </figcaption>
      </figure>

      <!--porfolio item 5 -->
      <figure class="port-item">
        <%= image_tag ("relaxer2.jpg") %>
        <img src="assets/relaxer2.jpg" width="100%" height="70%" alt="">
        <figcaption class="port-desc">
          <p>Thermal Reconditioning</p>
          <a href="/chemicals" class="button button-accent button-small">Relaxer / Sodium hydroxide</a>
          </figcaption>
      </figure>

      <!--porfolio item 6 -->
      <figure class="port-item">
        <%= image_tag ("multi2.jpg") %>
        <img src="assets/multi2.jpg" width="100%" height="70%" alt="">
        <figcaption class="port-desc">
          <p>F/X Special Effects</p>
          <a href="/color" class="button button-accent button-small">Color</a>
          </figcaption>
      </figure>
    </section>


    <!--call to action  -->

    <section class="cta">
      <div class="container">
        <h1 class="title title-cta">Like what you see
          <span>What are you waiting for?</span>
        </h1>
          <a href="/rooms" class="button button-dark">Chat live</a>
      </div>
    </section>


    <div class="container container-footer">

      <footer>
        <div class="col-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="col-1">
          <ul class="unstyled-list">
            <li><strong>List 1</strong></li>
            <li>List 2-Lorem ipsum dolor </li>
            <li>List 3-Lorem ipsum dolor </li>
            <li>List 4-Lorem ipsum dolor </li>
          </ul>
        </div>

        <div class="col-1">
          <ul class="unstyled-list">
            <li><strong>List 2</strong></li>
            <li>List 2-Lorem ipsum dolor </li>
            <li>List 3-Lorem ipsum dolor </li>
            <li>List 4-Lorem ipsum dolor </li>
          </ul>
        </div>

        <div class="col-1">
          <ul class="unstyled-list">
            <li><strong>List 3</strong></li>
            <li>List 2-Lorem ipsum dolor </li>
            <li>List 3-Lorem ipsum dolor </li>
            <li>List 4-Lorem ipsum dolor </li>
          </ul>
        </div>
      </footer>
    </div>

</body>
